
<h1>Login to Continue</h1>
<%= form_for :user, url: sessions_valid_login_path,  method: :POST do |f|%>
<p>
	<%= f.label :Email%><br>
	<%= f.email_field :email %>
</p>
<p>
	<%= f.label :Password %><br>
	<%= f.password_field :password%>
</p>
<p>
	<%= f.submit "Login"%>

</p>
<% end %>
<%= button_to "Register", new_user_path ,:method=> "get" %>
