<style>
  #foo {
    position: fixed;
    top: 0;
    right: 0;
  }
  </style>
<% if session[:user]!=nil %>
	<% puts "** index view email #{session[:user]["email"]}" %>
	<div id ="foo">
	<p>Welcome 
	<%= session[:user]["email"] %>
	<%= link_to "Log Out", sessions_logout_path, :method =>"get" %>
	</p>
	</div>
<% end %>
<div>
<%= form_for :selected_subject, url: question_papers_selected_list_path ,method: :GET do |f| %>
<p>
		<%= label_tag(:subject,"Choose Subject") %>
		<%= f.select(:subject ,["Physics","Maths","Chemistry","Biology"]) %>

</p>
<p>
	<%= f.submit "Submit" %>
</p>
<% end %>
</div>